<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Editing <%= food.food %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Editing <%= food.food %></h1>
<form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT" method="POST">
    <label for="food">Food:</label>
    <input 
    type="text" 
    name="food" 
    id="food"
    value="<%= food.food %>" 
    />

    <button type="submit">Save Changes</button>
   </form>

  </body>
</html>